/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

/* Input Fields and Menus */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333333;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Paragraphs */
p {
    font-size: 14px;
    color: #666666;
    margin-top: -15px;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Center the Form */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styled Button */
a {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background-color: #45a049;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result p{
    font-size: large;
}
